/*HEADLINE COMPONENT*/
.background{

background-color: bisque

}
.headline{
  margin:auto;
  text-align: center;
}


.logo{
  width:83px;
  height:85px;
  background-image:url(./maozhua3.jpeg) ;
  display:inline-block;
  margin-right:30px;
}
.headline h1{
  display:inline-block;
  font-size: 4em;
}

/*INPUT COMPONENT*/

.inputComp{
  margin: auto;
  text-align: center;
  height:130px;
}
.inputComp input{
  margin-top:40px;
  font-size: 2em;
  margin-right: 10px;
}
.inputComp button{
  margin-top:40px;
  font-size: 2em;
  background-color:lightcyan;
}

/*DISPLAY COMPONENT*/

.display{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 660px;
  margin: auto;
  margin-top:50px;
}

.display .box{
  width: 200px;
  height: 200px;
  
  background-color: rgba(223, 203, 203, 0.233);
  margin:10px;
  padding-top: 15px;
  box-sizing: border-box;
}

.display .box p{

  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.image{
  width: 200px;
  height: 200px;
}

/*this next part is just for us to see the component better while*/
/*buidling it*/

.headline{
  outline: 1px lightgrey solid;
  outline-offset:-20px;
}

.inputComp{
  outline: 1px lightgrey solid;
  outline-offset:-20px;
}

.display{
  outline: 1px lightgrey solid;
  outline-offset:30px;
  background-color: blanchedalmond
}

.whole{

  background-color: bisque
}